apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: greenearth-local

resources:
  - ../../base

patches:
  - target:
      kind: Elasticsearch
      name: greenearth
    patch: |-
      - op: replace
        path: /spec/nodeSets/0/config/node.store.allow_mmap
        value: false
