apiVersion: apps/v1
kind: Deployment
metadata:
  name: elasticsearch-exporter
  labels:
    app.kubernetes.io/name: elasticsearch-exporter
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: elasticsearch-exporter
  template:
    metadata:
      labels:
        app.kubernetes.io/name: elasticsearch-exporter
    spec:
      containers:
        - name: elasticsearch-exporter
          image: quay.io/prometheuscommunity/elasticsearch-exporter:v1.8.0
          args:
            - --es.uri=https://$(ES_USERNAME):$(ES_PASSWORD)@greenearth-es-http:9200
            - --es.ssl-skip-verify
            - --es.all
          env:
            - name: ES_USERNAME
              valueFrom:
                secretKeyRef:
                  name: es-service-user-secret
                  key: username
            - name: ES_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: es-service-user-secret
                  key: password
          ports:
            - name: prometheus
              containerPort: 9114
              protocol: TCP
          livenessProbe:
            httpGet:
              path: /healthz
              port: prometheus
            initialDelaySeconds: 5
            periodSeconds: 30
          readinessProbe:
            httpGet:
              path: /healthz
              port: prometheus
            initialDelaySeconds: 5
            periodSeconds: 10
          resources:
            requests:
              memory: 64Mi
              cpu: 50m
            limits:
              memory: 128Mi
              cpu: 100m
