apiVersion: v1
kind: Service
metadata:
  name: greenearth-es-internal-lb
  annotations:
    # Create an internal load balancer
    networking.gke.io/load-balancer-type: "Internal"
    # Use the same subnet as the VPC connector
    networking.gke.io/internal-load-balancer-subnet: "default"
    # Preserve source IP for better security
    service.beta.kubernetes.io/external-traffic: OnlyLocal
spec:
  type: LoadBalancer
  # Use the same selector as the default Elasticsearch service
  selector:
    common.k8s.elastic.co/type: elasticsearch
    elasticsearch.k8s.elastic.co/cluster-name: greenearth
  ports:
  - name: https
    port: 9200
    targetPort: 9200
    protocol: TCP
  sessionAffinity: ClientIP
  sessionAffinityConfig:
    clientIP:
      timeoutSeconds: 300
