apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - elasticsearch.yaml
  - kibana.yaml
  - templates/posts-index-template.yaml
  - templates/post-tombstones-index-template.yaml
  - templates/likes-index-template.yaml
  - templates/posts-alias.yaml
  - templates/post-tombstones-alias.yaml
  - templates/likes-alias.yaml
