apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - elasticsearch.yaml
  - elasticsearch-internal-lb.yaml
  - kibana.yaml
  - deployment-state-configmap.yaml
  - elasticsearch-exporter.yaml
  - templates/posts-index-template.yaml
  - templates/post-tombstones-index-template.yaml
  - templates/likes-index-template.yaml
  - templates/like-tombstones-index-template.yaml
  - templates/hashtags-index-template.yaml
  - templates/posts-alias.yaml
  - templates/post-tombstones-alias.yaml
  - templates/likes-alias.yaml
  - templates/like-tombstones-alias.yaml
  - templates/hashtags-alias.yaml

configMapGenerator:
  - name: index-settings
    options:
      disableNameSuffixHash: true
    literals:
      - index_shards=1
      - index_replicas=0
      - hashtag_index_shards=1
      - hashtag_index_replicas=0

configurations:
  - varreference.yaml

vars:
  - name: INDEX_SHARDS
    objref:
      kind: ConfigMap
      name: index-settings
      apiVersion: v1
    fieldref:
      fieldpath: data.index_shards
  - name: INDEX_REPLICAS
    objref:
      kind: ConfigMap
      name: index-settings
      apiVersion: v1
    fieldref:
      fieldpath: data.index_replicas
  - name: HASHTAG_INDEX_SHARDS
    objref:
      kind: ConfigMap
      name: index-settings
      apiVersion: v1
    fieldref:
      fieldpath: data.hashtag_index_shards
  - name: HASHTAG_INDEX_REPLICAS
    objref:
      kind: ConfigMap
      name: index-settings
      apiVersion: v1
    fieldref:
      fieldpath: data.hashtag_index_replicas
