apiVersion: monitoring.googleapis.com/v1
kind: PodMonitoring
metadata:
  name: elasticsearch-exporter
  labels:
    app.kubernetes.io/name: elasticsearch-exporter
spec:
  selector:
    matchLabels:
      app.kubernetes.io/name: elasticsearch-exporter
  endpoints:
    - port: prometheus
      path: /metrics
      interval: 30s
