apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: greenearth-prod

resources:
  - ../../base
  - max-map-count-daemonset.yaml

patches:
  - target:
      kind: Elasticsearch
      name: greenearth
    patch: |-
      - op: replace
        path: /spec/nodeSets/0/name
        value: master
      - op: replace
        path: /spec/nodeSets/0/count
        value: 2
      - op: replace
        path: /spec/nodeSets/0/config
        value:
          node.roles: ["master"]
          node.store.allow_mmap: true
      - op: add
        path: /spec/nodeSets/0/config/node.store.allow_mmap
        value: true
      - op: add
        path: /spec/nodeSets/0/podTemplate/spec/affinity
        value:
          nodeAffinity:
            requiredDuringSchedulingIgnoredDuringExecution:
              nodeSelectorTerms:
              - matchExpressions:
                - key: workload
                  operator: In
                  values:
                  - es-master
      - op: replace
        path: /spec/nodeSets/0/podTemplate/spec/containers/0/resources/requests/memory
        value: 4Gi
      - op: replace
        path: /spec/nodeSets/0/podTemplate/spec/containers/0/resources/limits/memory
        value: 4Gi
      - op: replace
        path: /spec/nodeSets/0/podTemplate/spec/containers/0/resources/requests/cpu
        value: "1000m"
      - op: replace
        path: /spec/nodeSets/0/podTemplate/spec/containers/0/resources/limits/cpu
        value: "1000m"
      - op: replace
        path: /spec/nodeSets/0/podTemplate/spec/containers/0/env/0/value
        value: "-Xms2g -Xmx2g"
      - op: replace
        path: /spec/nodeSets/0/volumeClaimTemplates/0/spec/resources/requests/storage
        value: 16Gi
      - op: add
        path: /spec/nodeSets/-
        value:
          name: data
          count: 4
          config:
            node.roles: ["data", "ingest"]
            node.store.allow_mmap: true
          podTemplate:
            spec:
              affinity:
                nodeAffinity:
                  requiredDuringSchedulingIgnoredDuringExecution:
                    nodeSelectorTerms:
                    - matchExpressions:
                      - key: workload
                        operator: In
                        values:
                        - es-data
              containers:
              - name: elasticsearch
                resources:
                  requests:
                    memory: 12Gi
                    cpu: "1500m"
                  limits:
                    memory: 12Gi
                    cpu: "1500m"
                env:
                - name: ES_JAVA_OPTS
                  value: "-Xms5g -Xmx5g"
          volumeClaimTemplates:
          - metadata:
              name: elasticsearch-data
            spec:
              accessModes:
              - ReadWriteOnce
              resources:
                requests:
                  storage: 256Gi
  - target:
      kind: Kibana
      name: greenearth
    patch: |-
      - op: replace
        path: /spec/podTemplate/spec/containers/0/resources/requests/memory
        value: 1Gi
      - op: replace
        path: /spec/podTemplate/spec/containers/0/resources/limits/memory
        value: 1Gi
      - op: replace
        path: /spec/podTemplate/spec/containers/0/resources/requests/cpu
        value: "500m"
      - op: replace
        path: /spec/podTemplate/spec/containers/0/resources/limits/cpu
        value: "500m"
      - op: add
        path: /spec/podTemplate/spec/affinity
        value:
          nodeAffinity:
            requiredDuringSchedulingIgnoredDuringExecution:
              nodeSelectorTerms:
              - matchExpressions:
                - key: workload
                  operator: In
                  values:
                  - es-master

configMapGenerator:
  - name: index-settings
    behavior: replace
    literals:
      - index_shards=60
      - index_replicas=1
