apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: greenearth-stage

resources:
  - ../../base
  - max-map-count-daemonset.yaml

patches:
  - target:
      kind: Elasticsearch
      name: greenearth
    patch: |-
      - op: replace
        path: /spec/nodeSets/0/name
        value: master-data
      - op: add
        path: /spec/nodeSets/0/config/node.store.allow_mmap
        value: true
      - op: replace
        path: /spec/nodeSets/0/podTemplate/spec/containers/0/resources/requests/memory
        value: 8Gi
      - op: replace
        path: /spec/nodeSets/0/podTemplate/spec/containers/0/resources/limits/memory
        value: 8Gi
      - op: replace
        path: /spec/nodeSets/0/podTemplate/spec/containers/0/resources/requests/cpu
        value: "1500m"
      - op: replace
        path: /spec/nodeSets/0/podTemplate/spec/containers/0/resources/limits/cpu
        value: "1500m"
      - op: replace
        path: /spec/nodeSets/0/podTemplate/spec/containers/0/env/0/value
        value: "-Xms4g -Xmx4g"
      - op: replace
        path: /spec/nodeSets/0/volumeClaimTemplates/0/spec/resources/requests/storage
        value: 64Gi
      - op: add
        path: /spec/nodeSets/-
        value:
          name: data-only
          count: 1
          config:
            node.roles: ["data"]
            node.store.allow_mmap: true
          podTemplate:
            spec:
              containers:
              - name: elasticsearch
                resources:
                  requests:
                    memory: 8Gi
                    cpu: "1500m"
                  limits:
                    memory: 8Gi
                    cpu: "1500m"
                env:
                - name: ES_JAVA_OPTS
                  value: "-Xms4g -Xmx4g"
          volumeClaimTemplates:
          - metadata:
              name: elasticsearch-data
            spec:
              accessModes:
              - ReadWriteOnce
              resources:
                requests:
                  storage: 64Gi
  - target:
      kind: Kibana
      name: greenearth
    patch: |-
      - op: replace
        path: /spec/podTemplate/spec/containers/0/resources/requests/memory
        value: 2Gi
      - op: replace
        path: /spec/podTemplate/spec/containers/0/resources/limits/memory
        value: 2Gi

configMapGenerator:
  - name: index-settings
    behavior: replace
    literals:
      - index_shards=2
      - index_replicas=1
      - hashtag_index_shards=2
      - hashtag_index_replicas=1
